header{
    background-color: royalblue;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0%;
}

#title{
    text-align: center;
    float: left;
    padding: 0px 20px 10px 20px;
    margin: 15px 20px 15px 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(30, 239, 212);
}

ul{
    width: auto;
    float: right;
}

li{
    display: inline-block;
    padding: 15px 30px;
    margin: 0px 15px 20px 15px;

}

a{
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vmax;
}





